.projects {
    h1 {
        font-size: 35px;
        margin: 20px 0;
    }

    .all {
        text-align: center;

        button {
            width: 150px;
            height: 50px;
            border: none;
            text-decoration: none;
            color: rgb(20, 184, 166);
            padding: 0.5rem;
            border-radius: 1rem;
            box-shadow: 0px 0px 10px;
        }
    }

    .card_container {
        margin-top: 30px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 3fr));

        .card {
            /* background: #d0d0d6; */
            overflow: hidden;
            border-radius: 20px;
            height: auto;
            padding: 20px;
            mix-blend-mode: normal;
            opacity: .85;
            .card_Image_Container{
                img{
                    width: 24px;
                    height: 24px;
                }
            }
            .content{
                margin: 20px 0;
                h3{
                    margin: 20px 0;
        
                }
                p{
                    line-height: 1.5;
                    font-weight: 400;
                    color:  #9d9da8;
                }
            }
            .navigate{
                display: flex;
                gap: 20px;
                align-items: center;

                img{
                    height: 20px;
                    width: 20px;
                }
                a{
                    color: black;
                }
            }
        }
    }
}